<h1>Listing Articles</h1>
 
<table>
  <tr>
    <th>Facilitator</th>
    <th>Team</th>
    <th>Date</th>
    <th>Introduction</th>
    <th></th>
  </tr>
 
  <% @retro.each do |retro| %>
    <tr>
      <td><%= retro.facilitator %></td>
      <td><%= retro.team %></td>
      <td><%= retro.date %></td>
      <td><%= retro.introduction %></td>
      <td><%= link_to 'Show', retro_path(retro) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Retro', new_retro_path %>